
body{
    background-color: #F6F6F6;
}

#app{
    padding-left: 10px;
    padding-right: 10px;
    
}

.top_title{
    font-size: 30px;
    /* margin-top: 10px; */
    /* padding: 10px; */
    font-family: 'Abril Fatface', cursive;
}

.search input{
    color: #222;
    font-family: Lato;
    padding-left: 5px !important;
    margin: 0;
    border: 0;
    background-color: #eeee !important;
    border-bottom: 0 !important;
    /* border: 2px solid black !important; */
    border-radius: 5px !important;
    
}

.search{
  position: relative;
}

.histories{
    background: #fff;
    width: 100%;
    height: 200px;
    position: absolute;
    z-index: 99;
    top: 60%;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    border-radius: 5px;
 overflow-y: scroll;
 overflow-x: hidden;
    /* bottom: 10px; */
    display: none;
}


.input-field>label{
  left: 2% !important;
  pointer-events: none;
}

.word_head{
    font-size: 40px;
    font-family: 'Abril Fatface', cursive;
    display: flex;
    gap: 10px;
    align-items: center;
    position: relative;
}

.add_fav{
position: absolute;
right: 3%;
color: #8d8b8b;
cursor: pointer;
bottom: -35%;
font-size: 30px;
}

.word_prnc{
    font-family: 'IM Fell DW Pica', serif;
    font-size: 16px;
    padding-left: 10px;
    
}

 .speaker{
    font-size: 20px;
    color: blue;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    box-shadow: 0 1px 5px rgba(0,0,0,.2);
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgb(216, 213, 213);
}

.def_body{
  margin-top: 10px;
  padding: 10px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  border-radius: 5px;
  background: #ffff;
  font-family: Lato, kalpurush;
}

.org{
    font-family: 'IM Fell DW Pica', serif;
}

.pos{
    /* font-style: italic; */
    font-family: Lato;
    font-weight: bold;
    font-size: 18px;
    color: blueviolet;
}

.def{
    font-size: 17px;
    font-weight: bold;
    /* display: flex; */
    /* align-items: center; */
}

.def div{
    /* position: absolute; */
    right: 0;
}

.ex{
    font-size: 15px;
    color: rgb(122, 115, 115);
}

.syn{
    font-size: 16px;
}

.dic_text{
    font-size: 16px;
    color: darkcyan;
    font-weight: bold;
}

.bn_img{
    margin-top: 10px;
    margin-bottom: 50px;
}

.dic_header{
    font-size: 20px;
    /* font-family: 'Abril Fatface', cursive; */
    font-family: Lato;
    margin-bottom: 10px;
    font-weight: 900;
    color: rgb(121, 117, 117);
    display: flex;
    justify-content: space-between;
}

.dic_head_sub{
    font-family: Lato;
    font-size: 17px;
    color: blue;
    text-decoration: underline;
}




.history{
display: flex;
width: 100%;
overflow-y: hidden;
gap: 5px;
overflow-x: scroll;
padding: 10px;
}

.word_list{
    display: flex;
    justify-content: center;
    align-items: center;
}

.syn a{
    color: blue;
    text-decoration: underline;
    
}

.word{
 font-size: 17px;
 /* font-family: 'Abril Fatface', cursive; */
 font-family: Lato;
 font-weight: bold;
 color: rgb(7, 5, 5);
 padding-top: 0;
 padding-bottom: 0;
 padding-left: 5px;
 padding-right: 5px;
 background: #fff;
 border-radius: 5px;
 box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
 min-width: 60px;
 text-align: center;
}

.img{
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
    padding: 0;
    border-radius: 5px;
    display: flex;
    justify-content: center;
}

 /* label focus color */
 .input-field input[type=text]:focus + label {
    color: #000;
}
/* label underline focus color */
  .input-field input[type=text]:focus {
    border-bottom: 1px solid #000;
    box-shadow: 0 1px 0 0 #000;
  }

  .input-field input:focus + label {
    color: red !important;
  }
  /* label underline focus color */
.input-field input:focus {
    border: 0px solid grey !important;
    box-shadow: 0 0px 0 0 red !important
  }

  .input-field i{
      color: rgb(165, 161, 161);
  }
  .active{
      color: #000 !important;
  }

  .top_title_screen{
      font-family: Lato;
      font-size: 28px;
      font-weight: 900;
  }

  .menu_item_no_action{
    background: #fff;
    padding: 5px;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    font-family: Lato;
  }

  .menu_item_no_action .menu_title{
      font-size: 18px;
  }
  .dic_row{
      display: flex;
      justify-content: space-between;
  }

  .dic_time{
      font-size: 11px;
      color: #222;
      /* font-weight: bold; */
  }

  .dic_date{
      font-size: 12px;
      color: rgba(99, 93, 93, 0.933);
  }
   
  
  .menu_item{
      background: #fff;
      padding: 5px;
      border-radius: 5px;
      box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
      margin-top: 10px;
  }

  .menu_item a{
      display: flex;
      align-items: center;
      gap: 10px;
      font-size: 20px;
      position: relative;
      
  }
  
  .menu_logo{
     padding: 5px;
     font-size: 23px;
     color: #d81e1e;
     background: #d81e1e57;
     border-radius: 3px;
     
  }

  .menu_title{
    font-family: Lato;
    color: crimson;
    font-weight: 900;
  }

  .action_icon{
      position: absolute;
      color: crimson;
      right: 2%;
  }

  #pagination{
      display: flex;
      justify-content: center;
      margin-top: 10px;
  }

  .paginationjs .paginationjs-pages li>a {
    min-width: 30px;
    height: 28px;
    /* line-height: 28px; */
    display: flex !important;
    background: #fff;
    font-size: 14px;
    color: #333;
    text-decoration: none;
    text-align: center;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}
  .paginationjs .paginationjs-pages li {
    float: left;
    border: 0px solid rgb(177, 29, 29) !important;
    border-right: none;
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.paginationjs .paginationjs-pages li.active>a {
    height: 30px;
    line-height: 30px;
    background: crimson !important;
    color: #fff;
}

.paginationjs .paginationjs-pages li.active {
    border: 0 !important;
}

.paginationjs{
    font-family: Lato !important;
}

.option_menu{
    display: flex;
    gap: 15px;
    font-family: Lato;
    margin-top: 5px;
}

.option_item{
    background: #fff;
    padding: 5px;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    cursor: pointer;
}

